* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background.png');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6em;
  width: 100%;
  color: white;
}

#header a {
  color: white;
  text-decoration: none;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 6em;
  height: calc(100% - 12em);
  width: 100%;
}

#home h1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.5em 1em;
  border-radius: 10px;
  text-align: center;
}

#github-button {
  border: 2px solid white;
  padding: 1em;
  transition: all ease-in-out 0.2s;
}

#github-button:hover {
  color: black;
  background-color: white;
}

/* #about {
  position: relative;
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  color: black;
  background-color: white;
  font-family: monospace;
}

#about h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em;
}

#about h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em;
} */

.tab {
  font-family: monospace;
  float: right;
  display: flex;
  height: 100%;
  /* width: 5em; */
  padding: 0 3em;
  margin: 0 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tab h3:hover {
  cursor: pointer;
}

.name-box {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  width: 20em;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

@media (max-width: 70em) {
  .tab {
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
  }
}

@media (min-width: 70em) {
  .tab {
    opacity: 1;
    transition: visibility 0s, opacity 0.1s linear;
  }
}
