@import "tailwindcss";

@font-face {
  font-family: 'Lexend';
  src: url('/Lexend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: white;
  --color-foreground: black;

  --color-primary: var(--color-black);
  --color-secondary: var(--color-gray-500);
}

* {
  font-family: 'Lexend', sans-serif;
}
